# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:../data/prod.db"

FMP_API_KEY=RqROyAkWoqTXIYY9AywNh6ymvoE2UZ4y

SEC_API_USER_AGENT=Joseph Moore jmoore@sunwestbank.com

FINNHUB_API_KEY=d9610c9r01qifmv38t20d9610c9r01qifmv38t2g

NEXT_PUBLIC_CAPITAL_IQ_URL_TEMPLATE=https://www.capitaliq.spglobal.com/web/login?ignoreIDMContext=1

COOKIE_SECURE=false